/************************************ cotiza **********************************/

#cotiza {
    width: 100%;
	height: 665px;
    box-sizing: border-box;
    padding: 0px;
    background-color: #ffffff;
}

#simulador {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
}
#titulo {
    margin-left: 0;
    text-align: center;
    color:#052044;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 35px;

}
#formulario {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#items{
    width: 100%;
    height: auto;
    text-align: justify;
    box-sizing: border-box;
    padding-left: 0px;
}
    label {
        display: flex;
        margin-bottom: 10px;
        font-weight: bold;

    }

 /******************************** primer label ******************************/
    #tipo {
        width: 100%;
        height: 125px;
        background-color: transparent;
        color: #052044;
        padding: 20px;
        box-sizing: border-box;
    }
    #tipo_prestamo {
        width: 500px;
        height: 40px;
        color: #052044;
    }
/**********************************segundo label *********************************/
#input {
    width: 100%;
    height: 125px;
    background-color: transparent;
    color: #052044;

    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}
#montoinput {
    width: 495px;
    height: 35px;
    color: #052044;
}
/**********************************tercer label *********************************/
#meses {
    width: 100%;
    height: 125px;
    background-color: transparent;
    color: #052044;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}
#cuotas {
    width: 500px;
    height: 40px;
    color: #052044;
}
/*********************************** fin form ******************************/
/*********************************** boton cotizador ************************/

#botonera {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton_cotiza {
    width: 50%;
    height: 40px;
    background-color: #052044;
    color: #ffffff;
    border: 0px;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 10px;

}
#boton_cotiza:hover {

    background-color: #ffffff;
    color: #052044;
    border-color: #052044;
    border: 1px solid;
}
/****************************** fin cotizador ************************************/
/****************************** resultado cotizador *********************************/
#resultado {
    display: none;
    width: 900px;
    height: 500px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
}
#valorcuota {
    display: none;
    float:left ;
    width: 400px;
    height: 300px;
    background-color: transparent;
    border: 2px solid #052044 ;
    border-radius: 5px 20px;
	padding: 20px;
    line-height: 30px;

}

#intereses {
    display: none;
    float:right ;
    width: 400px;
    height: 300px;
    background-color: transparent;
    border: 2px solid #052044 ;
    border-radius: 5px 20px;
	padding: 20px;
    line-height: 30px;

}
#barra {
    width: 90%;
    height: 30px;
    background-color:#052044;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px 20px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}

/******************************** boton volver **************************/
#volver {
    display: none;
    clear: both;
    width: 100%;
    height: 70px;
    background-color: transparent;
    text-align: center;
}
#refrescar {
    width: 70px;
    height: 40px;
    background-color: #052044;
    color: #ffffff;
    border: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}
#refrescar:hover {

    background-color: #ffffff;
    color: #052044;
    border-color: #052044;
    border: 1px solid;
}


@media only screen and (min-width: 350px) and (max-width: 800px){
/************************************ cotiza **********************************/

#cotiza {
    width: 100%;
	height: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

#simulador {
    display: flex;
    align-items: center;
    text-align: center;
}
#titulo {
    margin-left: 0;
    text-align: center;
    color:#052044;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;

}
#formulario {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
}
#items{
    width: 100%;
    height: auto;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    padding-left: 0px;
    text-align: center;
    justify-content: center;
}
    label {
        display: block;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 20px;
        width: 100%;

    }

 /******************************** primer label ******************************/
    #tipo {
        width: 100%;
        height: auto;
        background-color: transparent;
        color: #052044;
        padding: 20px;
        box-sizing: border-box;
    }
    #tipo_prestamo {
        width: 100%;
        height: 40px;

        color: #052044;
    }
/**********************************segundo label *********************************/
#input {
    width: 100%;
    height: 125px;
    background-color: transparent;
    color: #052044;

    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}
#montoinput {
    width: 100%;
    height: 35px;
    color: #052044;
}
/**********************************tercer label *********************************/
#meses {
    width: 100%;
    height: 125px;
    background-color: transparent;
    color: #052044;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}
#cuotas {
    width: 100%;
    height: 40px;
    color: #052044;
}
/*********************************** fin form ******************************/
/*********************************** boton cotizador ************************/

#botonera {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
#boton_cotiza {
    width: 80%;
    height: 40px;
    background-color: #052044;
    color: #ffffff;
    border: 0px;
    font-size: 18px;
    margin-left: 0;
    margin-top: 0;
}
#boton_cotiza:hover {

    background-color: #ffffff;
    color: #052044;
    border-color: #052044;
    border: 1px solid;
}
/****************************** fin cotizador ************************************/
/****************************** resultado cotizador *********************************/
#resultado {
    display: none;

    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
}
#valorcuota {
    display: none;
    float:none ;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 2px solid #052044 ;
    border-radius: 5px 20px;
	padding: 0px;
    line-height: 30px;
    margin-bottom: 20px;

}

#intereses {
    display: none;
    float:right ;
    width: 400px;
    height: 300px;
    background-color: transparent;
    border: 2px solid #052044 ;
    border-radius: 5px 20px;
	padding: 20px;
    line-height: 30px;

    display: flex;
    width: 100%;
    height: auto;

}
#barra {
    width: 90%;
    height: 30px;
    background-color:#052044;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px 20px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}

/******************************** boton volver **************************/
#volver {
    display: none;
    clear: both;
    width: 100%;
    height: 70px;
    background-color: transparent;
    text-align: center;
}
#refrescar {
    width: 70px;
    height: 40px;
    background-color: #052044;
    color: #ffffff;
    border: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}
#refrescar:hover {

    background-color: #ffffff;
    color: #052044;
    border-color: #052044;
    border: 1px solid;
}


}